body {
  background-color: #f8f9fa;
}

.container {
  max-width: 800px;
}

.summary-box {
  padding: 20px;
  background-color: #fff4e6;
  border: 2px solid #DDB892;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  color: #343a40;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}