.container {
  max-width: 500px;
}

.card {
  border: none;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.8rem;
  color: #0d6efd;
}

.card-text strong {
  color: #979797; 
  font-size: 1.2rem;
}

#paypal-button-container {
  margin-top: 20px;
}

.card-body {
  padding: 2rem;
}

